<section class="arrow-down">
    <div class="container">
        <a href="#sqm"><i class="fa fa-chevron-down fa-2x"></i></a>
    </div>
</section>

<section id="sqm" class="bg-lightblue">
    <div class="container">
        <h2>Caso SQM<span class='subhead'>En el marco de las investigaciones por el Caso Penta, surgió una arista de investigación a la empresa minera Soquimich, la cual también estaría vinculada a un supuesto fraude al fisco. Esto, luego que el fiscal Carlos Gajardo, tras tomar declaración a Carolina de la Cerda, cuñada de Pablo Wagner, confesara haber contribuido al fraude al fisco no sólo a nombre de Penta, sino que también a nombre de la empresa SQM. Tras las declaraciones de la cuñada de Wagner, la empresa está siendo investigada por el uso y emisión de boletas ideológicamente falsas por parte de terceros para financiar campañas políticas no sólo a personeros de derecha, sino también a reconocidos miembros de la Nueva Mayoría.</br>
 <a href="#" data-toggle="tooltip" data-placement="top" title="El cohecho es un delito que consiste en que una autoridad o funcionario público acepta o solicita una dádiva a cambio de realizar u omitir un acto inherente a su cargo"><i class="fa fa-info-circle"></i></a></span></h2>
        <h3></h3>
        <ul class="grid cs-style-3 clearfix">
            {% assign counter=0 %}
            {% for congressman in site.querellados-sqm %}
              <div class="col-md-15 col-sm-15">
                <div class="thumbnail">
                    <img class="img-responsive" src="{{site.url}}/img/congressman/{{congressman.image}}" alt="{{congressman.name}}">
                    <div class="caption">
                      <h3>{{congressman.name}}</h3>
                      <ul class="list-unstyled">
                        {% for situation in congressman.situation %}
                        <li><b>{{situation.key}}</b> : {{situation.value}}</li>
                        {% endfor %}
                      </ul>
                      <!-- Button trigger modal -->
                      <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal-{{congressman.uid}}">
                        Más información
                      </button>

                      <!-- Modal -->
                      <div class="modal fade" id="myModal-{{congressman.uid}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel-{{congressman.uid}}">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                              <h4 class="modal-title" id="myModalLabel">{{congressman.name}}</h4>
                            </div>
                            <div class="modal-body">
                              <ul class="list-unstyled">
                                {% for situation in congressman.situation %}
                                <li><b>{{situation.key}}</b> : {{situation.value}}</li>
                                {% endfor %}
                              </ul>
                              {{congressman.content_modal}}
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                              <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- end modal -->

                    </div>
                </div>
              </div>

              {% if counter == 4 %}
              </ul>
              <ul class="grid cs-style-3 clearfix">
              {% endif %}
              {% assign counter=counter | plus:1 %}
            {% endfor %}
        </ul>
</div>
</section>