<section class="arrow-down">
    <div class="container">
        <a href="#penta"><i class="fa fa-chevron-down fa-2x"></i></a>
    </div>
</section>

<section id="penta" class="bg-lightblue">
    <div class="container">
        <h2>Caso Penta <span class='subhead'>El Caso Penta es un caso judicial chileno donde se investiga un supuesto fraude al fisco por parte de Empresas Penta, a través del uso de facturas y boletas de honorarios ideológicamente falsas realizadas por terceras personas por labores que nunca habían sido realizadas, sino que más bien, habrían permitido el financiamiento irregular de campañas políticas de diferentes sectores. </br>
<br>Nuestra querella se interpuso por presunto delito de cohecho, contra personas que hayan sido autoridades o funcionarios en ejercicio al momento del ilícito.</br> <a href="#" data-toggle="tooltip" data-placement="top" title="El cohecho es un delito que consiste en que una autoridad o funcionario público acepta o solicita una dádiva a cambio de realizar u omitir un acto inherente a su cargo"><i class="fa fa-info-circle"></i></a></span></h2>
        <h3></h3>
        <ul class="grid cs-style-3 clearfix">
            {% assign counter=0 %}
            {% for congressman in site.querellados-penta %}
              <div class="col-md-15 col-sm-15">
                <div class="thumbnail">
                    <img class="img-responsive" src="{{site.url}}/img/congressman/{{congressman.image}}" alt="{{congressman.name}}">
                    <div class="caption">
                      <h3>{{congressman.name}}</h3>
                      <ul class="list-unstyled">
                        {% for situation in congressman.situation %}
                        <li><b>{{situation.key}}</b> : {{situation.value}}</li>
                        {% endfor %}
                      </ul>
                      <!-- Button trigger modal -->
                      <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal-{{congressman.uid}}">
                        Más información
                      </button>

                      <!-- Modal -->
                      <div class="modal fade" id="myModal-{{congressman.uid}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel-{{congressman.uid}}">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                              <h4 class="modal-title" id="myModalLabel">{{congressman.name}}</h4>
                            </div>
                            <div class="modal-body">
                              <ul class="list-unstyled">
                                {% for situation in congressman.situation %}
                                <li><b>{{situation.key}}</b> : {{situation.value}}</li>
                                {% endfor %}
                              </ul>
                              {{congressman.content_modal}}
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                              <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- end modal -->

                    </div>
                </div>
              </div>

              {% if counter == 4 %}
              </ul>
              <ul class="grid cs-style-3 clearfix">
              {% endif %}
              {% assign counter=counter | plus:1 %}
            {% endfor %}
        </ul>
</div>
</section>